{% extends "base.jinja" %}

{% block title %}Organization Main Page{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <h1>{{ _("Organization") }}</h1>
    <div class="d-flex flex-column align-items-stretch">
        <div class="btn-group-vertical mt-4">
            <a href="{{ url_for('organization.add_sample_organization_charity_campaign') }}"
                class="btn btn-primary mb-2">
                {{ _("Add Sample Organization Charity Campaign") }}
            </a>
            <br>
            <a href="{{ url_for('organization.list_charity_campaigns') }}" class="btn btn-primary mb-2">
                {{ _("List Charity Campaigns") }}
            </a>
            <a href="{{ url_for('organization.list_organizations') }}" class="btn btn-primary mb-2">
                {{ _("List Organizations") }}
            </a>
            <a href="{{ url_for('organization.list_organization_charity_campaigns') }}" class="btn btn-primary mb-2">
                {{ _("List Organization Charity Campaigns") }}
            </a>
            {# <a href="{{ url_for('organization.add_sample_charity_campaign') }}" class="btn btn-primary mb-2">
                {{ _("Add Sample Charity Campaign") }}
            </a> #}

            <a href="{{ url_for('organization.create_charity_campaign') }}" class="btn btn-primary mb-2">
                {{ _("Create Charity Campaign") }}
            </a>
            <a href="{{ url_for('organization.sign_to_charity_campaign') }}" class="btn btn-primary mb-2">
                {{ _("Sign to Charity Campaign") }}
            </a>
            <a href="{{ url_for('organization.volunteer_sign_to_charity_campaign') }}" class="btn btn-primary mb-2">
                {{ _("Sign to Charity Campaign (Volunteer)") }}
            </a>
        </div>
    </div>
</div>
{% endblock %}