{% extends "base.jinja" %}

{% block title %}Organization{% endblock %}

{% block content %}
<div class="container mt-2">
    <h1>Organization</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Approved</th>
            <th scope="col">Address ID</th>
            <th scope="col">Street</th>
            <th scope="col">Street number</th>
            <th scope="col">City</th>
            <th scope="col">Voivodeship</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ organization.id }}</td>
            <td>{{ organization.organization_name }}</td>
            <td>{{ organization.description}}</td>
            <td>{{ organization.approved }}</td>
            <td>{{ organization.address_id }}</td>
            <td>{{ organization.address.street }}</td>
            <td>{{ organization.address.street_number}}</td>
            <td>{{ organization.address.city}}</td>
            <td>{{ organization.address.voivodeship}}</td>
        </tr>
    </table>
</div>
{% endblock %}