{% extends "base.jinja" %}

{% block title %}{{ _("Volunteer Sign to Charity Campaign") }}{% endblock %}

{% block content %}
<div class="container mt-2">
    <div>
        <a href="{{ url_for('home') }}" class="btn btn-secondary">{{ _("Back") }}</a>
    </div>
    <hr class="my-4" />
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if organization_charity_campaigns %}
            <h1>{{ _("Sign to Charity Campaign") }}</h1>
            <form method="post">
                <fieldset>
                    <div class="form-group">
                        <label for="organization_charity_campaign_id">{{ _("Charity Campaign:") }}</label>
                        <select class="form-control" id="organization_charity_campaign_id"
                            name="organization_charity_campaign_id" required>
                            {% for campaign in organization_charity_campaigns %}
                            <option value="{{ campaign.id }}">{{ campaign.charity_campaign.name }} ({{
                                campaign.organization.organization_name }})</option>
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" class="btn btn-primary">{{ _("Sign In") }}</button>
                    </div>
                </fieldset>
            </form>
            {% else %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">{{ _("Warning") }}!</h4>
                <p class="mb-0">
                    {{ _("There is no available charity campaigns.") }}
                    <br>
                    <a href="{{ url_for('home') }}" class="alert-link">
                        {{_("Return to main page") }}
                    </a>.
                </p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}