{% extends "base.jinja" %}

{% block title %}{{ _("Select Campaign") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <header class="text-center">
    <h1>{{ _("Select a Campaign for") }} {{ affected.first_name }} {{ affected.last_name }}</h1>
  </header>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action="{{ url_for('affected.select_campaign') }}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="campaign_id">{{ _("Choose Campaign:") }}</label>
            <select id="campaign_id" name="campaign_id" class="form-control" required>
              {% for campaign in campaigns %}
              <option value="{{ campaign.id }}">{{ campaign.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mt-3 text-center">
            <button type="submit" class="btn btn-primary">{{ _("Select Campaign") }}</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}