{% extends "base.jinja" %}

{% block title %}{{ _("Create Donation") }}{% endblock %}

{% block content %}
<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>{{ _("Create a Donation") }}</h1>
      <form action="{{ url_for('donors.create_donation') }}" method="post">
        <fieldset>
          <div class="form-group">
            <label for="exampleTextarea">{{ _("Donation Description:") }}</label>
            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
          </div>
          <div class="form-group" id="amount_container">
            <label for="amount">{{ _("Donation Amount:") }}</label>
            <input type="number" class="form-control" id="amount" name="amount" placeholder="{{ _('Amount') }}"
              step="0.5">
          </div>
          <div>
            <label for="donation_type">{{ _("Type:") }}</label>
            <select class="form-control" id="donation_type" name="donation_type" required
              onchange="toggleDonationFields()">
              <option value="money">{{ _("Money") }}</option>
              {% for item in ItemDonationType %}
              <option value="{{ item.id }}">{{ item.type }}</option>
              {% endfor %}
            </select>
          </div>
            <br>
          <div>
          <label for="organization_charity_campaign_id">{{ _("Charity Campaign:") }}</label>
          <select class="form-control" id="organization_charity_campaign_id" name="organization_charity_campaign_id"
            required>
            {% for campaign in charity_campaigns %}
            <option value="{{ campaign.id }}">{{ campaign.charity_campaign.name }} ({{
              campaign.organization.organization_name }})</option>
            {% endfor %}
          </select>
          </div>
         <br>
          <div>
            <button type="submit" class="btn btn-primary">{{ _("Confirm Donation") }}</button>
            <a href="{{ url_for('home') }}" class="btn btn-danger">{{ _("Cancel") }}</a>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<script>
  function toggleDonationFields() {
    var donationType = document.getElementById('donation_type').value;
    var itemDonationTypeContainer = document.getElementById('item_donation_type_container');
    var amountContainer = document.getElementById('amount_container');
    var countContainer = document.getElementById('count_container');

    if (donationType === 'item') {
      itemDonationTypeContainer.style.display = 'block';
      amountContainer.style.display = 'none';
      countContainer.style.display = 'block';
    } else {
      itemDonationTypeContainer.style.display = 'none';
      amountContainer.style.display = 'block';
      countContainer.style.display = 'none';
    }
  }

  // Initialize the visibility on page load
  document.addEventListener('DOMContentLoaded', function () {
    toggleDonationFields();
  });
</script>
{% endblock %}